*{
 margin: 0px;
 padding: 0px;
 box-sizing: border-box;
 font-family: sans-serif;
}
/* common area */
html{
    --brighttextcolor: #ffffff; 
    --darktextcolor:#a9a9a9;
    --fillgradient: linear-gradient(45deg, purple pink);
}
body{
    height: 100vh;
}
h2{
    color: var(--brighttextcolor);
}
h3{
    color: var(--brighttextcolor);
}
p{
    color: var(--darktextcolor);
}
li{
    list-style: none;
    color: var(--darktextcolor);
}
main{
    display: grid;
    grid-template-columns: 1fr 5.5fr;
    height:87vh;
    
}
/* common area finished */
.left{
    background-color: black;
    padding: 30px 20px 30px 20px;

}

.right{
    background-color:#121212;  
    overflow: scroll;
    width: 100%;
}
.rightheader{
    position: absolute;
    background-color: #28282820;
    display: grid;
    top: 0px;
    width: 100%;
    right: 0px;
    place-content:end;
    padding: 15px;
    z-index: 1;
}
.rightheader button{
    width: 100px;
    display: flex;
    border-radius: 30px;
    padding: 5px;
    align-content: center;
    border:none;
    color: white;
    background-color: black;
    gap:10px;
 
}
.rightheader button img{
    border-radius: 50%;
}
.rightheader button span{
    transform: translateY(3px);
}
.rightmain{
    position: relative;
    top: 70px;
    padding: 20px;
    height: 80vh;
    
}
.rightmainnavbar{
    display: grid;
    place-content: center;

}
.rightmainnavbar ul li{
    display: inline;
    margin-right: 30px;
    font-size: 0.9rem;
}
.rightmainnavbar ul li span{
    padding-bottom: 10px;
    border-bottom: 1px solid springgreen;
}
.albums{
    display: grid;
    grid-template-rows: auto auto auto;
    
}
.albums .album{
    display: grid;
    grid-template-rows: auto auto;
    gap: 20px;
    margin-top: 30px;
}
.albums .album h2{
    transform: translateX(11px);
}
.inneralbum{
    display: grid;
    grid-template-columns: repeat(auto-fit, 190px);
    text-align: center;
}
.inneralbum h3, .inneralbum p{
    margin: 10px;
}
.inneralbum img{
    width: 170px;
}
.Popular img{
    border-radius: 50%;
}

/* @media screen and(max-width:740px ) {
    audio{
        display: none;
    }
 } */