* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}
/* common area */
html {
  --brighttextcolor: #ffffff;
  --darktextcolor: #a9a9a9;
  --fillgradient: linear-gradient(45deg, purple pink);
}
body {
  height: 100vh;
}
h2 {
  color: var(--brighttextcolor);
}
h3 {
  color: var(--brighttextcolor);
}
p {
  color: var(--darktextcolor);
}
li {
  list-style: none;
  color: var(--darktextcolor);
}
main {
  display: grid;
  grid-template-columns: minmax(60px, auto) 1fr;
  height: 87vh;
}
/* common area finished */
.left {
  background-color: black;
  padding: 30px 20px 30px 20px;
}

.right {
  background-color: #121212;
  overflow: scroll;
  display: grid;
  grid-template:
    " rightheader" 70px
    " rightmain" 1fr/
    1fr;
}
.rightheader {
  grid-area: rightheader;
  position: sticky;
  display: grid;
  justify-content: right;
  background-color: #28282850;
  padding: 15px;
}
.rightheader button {
  width: 100px;
  display: flex;
  border-radius: 30px;
  padding: 5px;
  align-content: center;
  border: none;
  color: white;
  background-color: black;
  gap: 10px;
}
.rightheader button img {
  border-radius: 50%;
}
.rightheader button span {
  transform: translateY(3px);
}
.rightmain {
  grid-area: rightmain;
  position: relative;
  /* top: 70px; */
  padding: 20px;
  height: 80vh;
}
.rightmainnavbar {
  display: grid;
  place-content: center;
}
.rightmainnavbar ul li {
  display: inline;
  margin-right: 30px;
  font-size: 0.9rem;
  margin-bottom: 20px;
}
.rightmainnavbar ul li span {
  padding-bottom: 10px;
  border-bottom: 1px solid springgreen;
}
.albums {
  display: grid;
  grid-template-rows: auto auto auto;
}
.albums .album {
  display: grid;
  grid-template-rows: auto auto;
  gap: 20px;
  margin-top: 30px;
}
.albums .album h2 {
  transform: translateX(11px);
}
.inneralbum {
  display: grid;
  grid-template-columns: repeat(auto-fit, 190px);
  text-align: center;
}

.inneralbum h3,
.inneralbum p {
  margin: 10px;
}
.inneralbum img {
  width: 170px;
}

.Popular img {
  border-radius: 50%;
}
.inneralbum div {
  position: relative;
}
.inneralbum div .playsicons {
  width: 50px;
  position: absolute;
  bottom: 110px;
  right: 30px;
  display: none;
}
.inneralbum img:hover:not(.playsicons) {
  opacity: 50%;
}
.inneralbum div:hover .playsicons {
  display: block;
}

@media screen and (max-width: 740px) {
  .left {
    width: 80px;
  }
  .left .homebutton {
    background-color: none;
  }
  .logoicon {
    display: none;
  }
  .topnav li span {
    display: none;
  }
  .playlist {
    display: none;
  }
  .left p span {
    display: none;
  }
  footer audio {
    display: none;
  }
  @media screen and (max-width: 400px) {
    .left {
      display: none;
    }
    footer meter {
      display: none;
    }
  }
}
